h1 {
  color: red;
}

:host {
  display: block;
  border: 1px solid black;
  padding: 20px;
}

:host(.favorite){
  border: 1px solid red;
}

:host-context(.boring #very-boring) {
  border: 1px solid #ccc;
  color: #ccc;
}

:host-context(.boring #very-boring) >>> h1 {
  color: #ccc;
}

/* :host-context(.boring #very-boring) /deep/ h1 {
  border: 1px solid #ccc;
  color: #ccc;
} */

/* #quote {
  border: 1px solid black;
  padding: 20px;
} */
