<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills">
        <li class="nav-item" role="navigation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link active" routerLink="/">Projects</a>
        </li>
        <li class="nav-item" role="navigation"
            routerLinkActive="active">
            <a class="nav-link" routerLink="/users">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" style="overflow: hidden;">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- class="nav-item"  class="nav-link active"-->
